html {
    height: 100%;
    width: 100%;
  
  }


body{background-color: darkblue;}

.sidebar{display: none;}
nav {
    position: fixed;
    padding: 1.3vh;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: gray;
    width: 100%;
    z-index: 1000000;
    height: 80px;
  }



p {margin: 0 !important ;}
  
  body header {
    display: flex;
    justify-content: center;
    
    height: 143vh;
    
  
  }

  #icon{
    border-radius: 50%;
    background-color: white;
    border: solid black 0.5px;
  }


  .venha{
    display:flex;
    flex-direction:row-reverse;
      flex-wrap: nowrap;
    justify-content: space-around;
  }
  .venha section{
    width: 45%;
  }


  .convite {background-color: blanchedalmond;}
  .convite h4{
    font-size: 35px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  
  
  .convite p{margin: 1rem!important;}
  
  .convite h4 span{border-bottom: solid  rgb(121 72 0) 2px;}

  .imp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .docente{
    height: 100vh;
  }

  .docente section h3{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .material{
    margin-top: 12vh;
  }

  .material h3{
    margin-top: 1rem;
   
  }

 .hot-fix{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;

 }
  .corpo-docente{
    display: none;
  }
  
  .professores{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    height: 83vh;
  }

  .professores div{
    width: 17%;
    margin:3px 1.5% 3px 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .professores div img{
    width: 99%;

  }

  .professores div img:hover{
    transform: scale(1.1);
    filter: brightness(1.1);
    transition: 0.75s;
    -webkit-box-shadow: 0px 2px 11px 8px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 1px 8px 6px rgba(0,0,0,0.17);
    box-shadow: 0px 1px 8px 6px rgba(0,0,0,0.17);
  }


  #crsel-material{
    display: none;
  }

  .materiais{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    height: 70vh;
  }

  .materiais div{
    width: 17%;
    margin:3px 1.5% 3px 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .materiais div img{
    width: 99%;

  }

  .materiais div img:hover{
    transform: scale(1.1);
    filter: brightness(1.1);
    transition: 0.75s;
    -webkit-box-shadow: 0px 2px 11px 8px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 1px 8px 6px rgba(0,0,0,0.17);
    box-shadow: 0px 1px 8px 6px rgba(0,0,0,0.17);
  }

  .horarios{
  background-color: black;
  border-radius: 6px;
  width: 60%;
  margin: 75px auto 30px auto;
  border: solid white 1px;

}

#horario{
  margin: 1rem;
  border-bottom: solid white 0.5px;
}

.horarios h5{text-align: center;
background-color: none!important;
color: white;
margin-bottom: 30px;
font-size: 6vh;}


#horario h4{
  font-size: 3vw;
  


}

#horario h4{color: white;}

#horario p{color:white}

#horario span{color: red ;}






nav p:hover {
  border-radius: 4px;
  text-decoration: underline;
  transition: 0.5s;
  transform: scale(1.1);
}
.aluno button:hover{
  transform: scale(1.1);
  background-color: black;
  color: white;
  transition: 1s;
  
}

.aluno button{
  background-color: #033e8c;
  border-radius: 30px;
  color: #D9D9D9;
  height: 50px;
  width: 150px;
}




nav p a{
  text-decoration: none;
  color: black;
}
.aluno button{
  background-color: #033e8c;
  border-radius: 30px;
  color: #D9D9D9;
  height: 50px;
  width: 150px;
}

nav #Principal:hover {
  transform: scale(1.1);
  transition: 0.5s;
}



nav p a{
  text-decoration: none;
  color: black;
}

















  /* footer */

  .topo{
    display: block;
  
    text-align: center;
  }
  
  .topo p{
    margin-bottom: 0!important;
    color:white
  }
  
  .topo a{
    text-decoration: none;
    color: white;
  }
  
  .footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
  
  
  
  }
  
  .footer section{
    width: 30%;
    margin: 10px;
  }
   
  #central{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: wheat;
  }
  
  #central h5{
    border-top: solid wheat 0.5px;
  
  ;
  }
  
  #midias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around ;
    align-content: space-between;
  
  }

  .material h3{
    text-align: center;
    background-color: white;
  }
  
  #midias h3{
    color:wheat;
    width: 100%;
    text-align: center;
    background-color: black;
  }
  #slogan{
    display: flex;
    flex-direction: column;
  }
  
  
  #slogan img{
    align-self: center;
    margin-bottom: 5px;
  }
  
  #slogan p{
    color: wheat;
    text-align: center;
  }
  


@media screen and (max-width: 550px){
  .materiais{
    display: none;
  }

  #crsel-material{
    display: block
  }



  .sumir{
    display: none;
  }
  body {background-color:  #033e8c!important;;}
  header{background-color:#033E8C;}
  main{background-color:#033E8C  ;}
  
  .corpo-docente{
    display: block;
  }

  .professores{
    display: none;
  }
  
  nav p#N-sidebar{display: none;}

    .sidebar{display: block;
        border: solid black 0.3vh;
        border-radius: 1vh;
        background-color: rgb(184, 184, 184);
        align-self: center;
        margin-top: 2vh;}

        .offcanvas-end{
            top: 0;
            bottom: 0;
            width: 65% !important ;
            }
       
              .offcanvas-body p a {text-decoration: none;
                color: black;}
                .offcanvas-body h3 a {text-decoration: none;
                                    color: black;}
                                    
.offcanvas-body{display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;


}

.lol{
  margin: 0!important;
}

.offcanvas-body p.itens-off{
margin: 1rem!important;
border-bottom: solid black 1px;
}

.offcanvas-body h3{margin-top: auto;
  align-self: center;

}

.offcanvas-body h3 a button{
  width: 171px;
  height: 30px;
  border-radius: 30px;
  background-color: #033e8c;

}

.offcanvas-body h3 a button{
  font-size: 20px;
}



nav{justify-content: space-between;
    align-content: flex-start;
    align-items: center;}
p {margin-top: 1rem;}










header{
max-height: 380px;


}

.venha section{
  width: 90%;
}
.venha{display: flex;
flex-flow: column nowrap;
margin: 1rem;
justify-content: center;
align-items: center;
height: fit-content;}
.venha.imp{
  
display: flex;
flex-direction: column;}

#sumir{
  display: none;
}
.imp {
    display: flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    justify-content: center;
    justify-items: center;
    max-height: 400px;
    z-index: 10;
    align-content: space-around;
  
  margin: 0 auto 1rem auto;}

  .imp div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem auto;
  }


.convite {background-color: blanchedalmond;}
.convite h4{
  font-size: 35px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}


.convite p{margin: 1rem!important;}

.convite h4 span{border-bottom: solid  rgb(121 72 0) 2px;}


.docente{
  height: 200px;
}

#professores{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

}

#materiais{ display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;}

section h3{text-align: center;
background-color: white;
margin: 1rem 0;}


.horarios{
  background-color: black;
  border-radius: 6px;
  width: 90%;
  margin: 75px auto 30px auto;
  border: solid white 1px;

}

#horario{
  margin: 1rem;
  border-bottom: solid white 0.5px;
}

.horarios h5{text-align: center;
background-color: none!important;
color: white;
margin-bottom: 30px;
font-size: 6vh;}


#horario h4{
  font-size: 6vw;
  


}

#horario h4 , p{color: white;}

#horario span{color: red ;}
.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  margin: 1rem;
}

.footer section{margin: 1rem;}

#icon{background-color: white;
      border: solid 1px black;
      border-radius: 50%;}




.topo a {color:white;}

.topo{

  display: block;
  text-align: center;

  
  
}
.convite p{color: black;}
.footer section h5{align-self: center;
text-align: center;
color: wheat;
border-top: solid wheat 0.5px;
margin-top: 2px;}

.footer section p{text-align: center;
color: wheat;
margin-bottom: 10px!important;}

#midias{

display: flex;
justify-content: space-around;
align-items:center;
align-content: space-around;
width: 80%;
}
}